@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?8jk0pa');
	src: url('../fonts/icomoon.eot?8jk0pa#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?8jk0pa') format('truetype'), url('../fonts/icomoon.woff?8jk0pa') format('woff'), url('../fonts/icomoon.svg?8jk0pa#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
	content: "\e900";
}

.icon-szBNOE_2:before {
	content: "\e901";
}

.icon-computer:before {
	content: "\e902";
}

.icon-grid:before {
	content: "\e914";
}

.icon-grid2:before {
	content: "\e915";
}

.icon-download:before {
	content: "\e925";
}

.icon-cezos-arrow-top:before {
	content: "\e927";
}

.icon-cezos-arrow-bottom:before {
	content: "\e928";
}

.icon-email:before {
	content: "\e929";
}

.icon-cezos-arrow-left:before {
	content: "\e92a";
}

.icon-youtube-logo:before {
	content: "\e92b";
}

.icon-cezos-arrow-right:before {
	content: "\e92e";
}

.icon-burger:before {
	content: "\e932";
}

.icon-close-st:before {
	content: "\e933";
}

.icon-cross-out:before {
	content: "\e934";
}

.icon-right-arrow:before {
	content: "\e935";
}

.icon-down-arrow:before {
	content: "\e936";
}

.icon-envelope:before {
	content: "\e938";
}

.icon-icon-pdf:before {
	content: "\e939";
}

.icon-magnifying-glass:before {
	content: "\e93b";
}

.icon-minus:before {
	content: "\e93c";
}

.icon-next:before {
	content: "\e93d";
}

.icon-phone-receiver:before {
	content: "\e93e";
}

.icon-plus:before {
	content: "\e940";
}

.icon-prev:before {
	content: "\e941";
}

.icon-resize:before {
	content: "\e942";
}

.icon-tr-down:before {
	content: "\e943";
}

.icon-tr-left:before {
	content: "\e944";
}

.icon-tr-right:before {
	content: "\e945";
}

.icon-tr-up:before {
	content: "\e946";
}

.icon-list:before {
	content: "\e948";
}

.icon-musica-searcher:before {
	content: "\e94a";
}

.icon-heart:before {
	content: "\e94b";
}

.icon-speech-bubble:before {
	content: "\e94c";
}

.icon-link:before {
	content: "\e9cc";
}

.icon-attachment:before {
	content: "\e9ce";
}

.icon-google3:before {
	content: "\ea8c";
}

.icon-google-plus:before {
	content: "\ea8d";
}

.icon-facebook:before {
	content: "\eaa9";
}

.icon-facebook2:before {
	content: "\eaaa";
}

.icon-instagram:before {
	content: "\eaab";
}

.icon-whatsapp:before {
	content: "\eaac";
}

.icon-spotify:before {
	content: "\eaad";
}

.icon-telegram:before {
	content: "\eaae";
}

.icon-twitter:before {
	content: "\eaaf";
}

.icon-vine:before {
	content: "\eab0";
}

.icon-vk:before {
	content: "\eab1";
}

.icon-renren:before {
	content: "\eab2";
}

.icon-sina-weibo:before {
	content: "\eab3";
}

.icon-rss:before {
	content: "\eab4";
}

.icon-rss2:before {
	content: "\eab5";
}

.icon-youtube:before {
	content: "\eab6";
}

.icon-youtube2:before {
	content: "\eab7";
}

.icon-twitch:before {
	content: "\eab8";
}

.icon-vimeo:before {
	content: "\eab9";
}

.icon-vimeo2:before {
	content: "\eaba";
}

.icon-lanyrd:before {
	content: "\eabb";
}

.icon-flickr:before {
	content: "\eabc";
}

.icon-flickr2:before {
	content: "\eabd";
}

.icon-flickr3:before {
	content: "\eabe";
}

.icon-flickr4:before {
	content: "\eabf";
}

.icon-dribbble:before {
	content: "\eac0";
}

.icon-behance:before {
	content: "\eac1";
}

.icon-linkedin:before {
	content: "\eacd";
}

.icon-linkedin2:before {
	content: "\eace";
}

.icon-lastfm:before {
	content: "\eacf";
}

.icon-lastfm2:before {
	content: "\ead0";
}

.icon-pinterest:before {
	content: "\ead3";
}

.icon-pinterest2:before {
	content: "\ead4";
}

.icon-ssl .path1:before {
	content: "\e903";
	color: rgb(210, 235, 90);
}

.icon-ssl .path2:before {
	content: "\e904";
	margin-left: -1em;
	color: rgb(180, 210, 65);
}

.icon-ssl .path3:before {
	content: "\e905";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.icon-ssl .path4:before {
	content: "\e906";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.icon-ssl .path5:before {
	content: "\e907";
	margin-left: -1em;
	color: rgb(220, 230, 235);
}

.icon-ssl .path6:before {
	content: "\e908";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.icon-ssl .path7:before {
	content: "\e909";
	margin-left: -1em;
	color: rgb(220, 230, 235);
}

.icon-ssl .path8:before {
	content: "\e90a";
	margin-left: -1em;
	color: rgb(220, 230, 235);
}

.icon-ssl .path9:before {
	content: "\e90b";
	margin-left: -1em;
	color: rgb(220, 230, 235);
}

.icon-bluemedia-logo .path1:before {
	content: "\e90c";
	color: rgb(254, 254, 254);
}

.icon-bluemedia-logo .path2:before {
	content: "\e90d";
	margin-left: -1.5595703125em;
	color: rgb(11, 110, 199);
}

.icon-tea-bag:before {
	content: "\e90e";
}

.icon-tea-bag-1:before {
	content: "\e90f";
}

.icon-temperature:before {
	content: "\e910";
}

.icon-time:before {
	content: "\e911";
}

.icon-weight:before {
	content: "\e912";
}