<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-brand">
                <a href="index.html">
                    <p class="logo-text">Serwis GOLD</p>
                </a>
                <p>2021. Serwis GOLD.<br>Wszellkie prawa zastrzeżone</p>
            </div>
            <div class="footer-contact">
                <p>KONTAKT</p>
                <p class="footer-address">
                    Adres:<br/>
                    Ul. Kopernika 4/1 <br/>
                    82-500 Kwidzyn
                </p>
                <p class="footer-mail-phone">
                    email: <a target="_blanc" href="mailto:serwisgold.kwidzyn@gmail.com">serwisgold.kwidzyn@gmail.com</a><br>
                    tel: <a href="tel:503125162">+48 503 125 162</a>
                </p>
            </div>
            <div class="footer-links">
                <p>PRZYDATNE LINKI</p>
                <ul class="footer-socials">
                    <li><a href="kontakt.html"><img src="https://cdn.pixabay.com/photo/2016/12/04/18/57/chat-1882320_1280.png" width="20px" height="20px" style="margin-right: 10px;" />Kontakt</a></li>
                    <li><a href="oferta.html"><img src="https://cdn.pixabay.com/photo/2017/11/10/04/46/business-2935350_1280.png" width="20px" height="20px" style="margin-right: 10px;" />Oferta</a></li>
                    <li><a target="_blanc" href="https://www.facebook.com/Gold-Serwis-Komputer%C3%B3wLaptop%C3%B3w-106480068405334"><img src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_1280.png" width="20px" height="20px" style="margin-right: 10px;"/>Serwis GOLD</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>